
 
.contant{
    border-right: 2px solid #000000; 
    position: relative;
    left: 280px;
}
.contant:nth-child(3){
    border:none; 
}
#footer{
    width: 100%;
    bottom: 0;
    clear: both;
}
.copyright{
    background-color: #00171F;
    position: relative;
    top: 100px;
    height: 40px;
    text-align: center;
   
}