.me-aut{
    transition: all 0.2s;
    color:black;
    border-right: 1px solid #000000;
}
.me-aut:hover{
   border-bottom: 2px solid yellow;
 }
.nav-bar{
    background-color: #87CEEB;
    height: auto;
    justify-content: space-between;
    
    
}
#hom{
    background: linear-gradient(to right, #00171F 70%, red 30%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;
    top: 15px
}
#home{
    position: relative;
    top: 14px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
    
}
.box{
  background-color: #00171F;
  color: #87CEEB;
}
.header{
     font-size: 11px;
    color: grey !important;
}

   

#nav-dropdown a:hover {background-color: #ddd;}

#collasible-nav-dropdown:hover #nav-dropdown {display: block;}


#collasible-nav-dropdown:hover {background-color: #3e8e41;}

#nav-dropdown {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
 
  @media (min-width: 200px) and (max-width: 1199.98px) {
    #nav{
   margin: 2px;
    }
  }
  
  @media screen and (min-width: 300px) {
    body {
      background-color: lavender;
    }
  }